*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #252B42;
    color: white;
}
$mycolor: #23A6F0;
@mixin container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    padding: 20px;
}
@mixin row($sizegap){
    display: flex ;
    align-items: center;
    gap: $sizegap;
}
header{
    @include container();
    nav{
        @include row(20px);
        a{
            color: white;
            text-decoration: none;
        }

    }
    div{
        @include row(20px);
        button:first-child{
            border: none;
            padding: 15px;
            background-color: transparent;
            color: white;
            font-size: 15px;   
        }
        button:last-child{
            border: none;
            background-color: $mycolor;
            color: white;
            padding: 15px;
            border-radius: 10px;
        }
    }
    .icons{
        display: none
    }

}
        .menu_mobile{
        display: none;
    }
.section1{
    @include container();
    aside:first-child{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 100px;
        h1{
            font-size: 70px;

        }
        p{
            font-size: 20px;
        }
        div{
            @include row(20px);
            button{
                border: none;
                padding: 15px 30px;
                border-radius: 30px;
                color: white;
            }
            button:first-child{
                background-color: #23A6F0;
            }
            button:last-child{
                background-color: transparent;
                border: 1px solid white;
            }
        }
        img{
            bottom: 300px;
            left: 0px;
            position: absolute;
        }
    }
     aside:last-child{
        position: relative;
        img:last-child{
            left: -826px;
            z-index: -1;
            top: -120px;    
            position: absolute;
        }
        img:first-child{
            position: relative;
            top: 50px;
            left: -50px;

        }
    }
}
.section2{
     max-width: 1200px;
     margin: auto;
     text-align: center;
     margin-top: 150px;
     h1{
        font-size: 40px;
     }
     p{
        font-size: 14px;
        color: #737373;
        margin-top: 10px
     }
}
.section3{
     @include container();
     display: flex;
     flex-wrap: wrap;
     gap: 40px;
     margin-top: 50px;
     div{
        display: flex;
        align-items: center;
        border: 1px solid white;
        padding: 30px 20px;
        gap: 20px ;
        width: 328px;
        
        img{
            margin-top: -25px;
        }
        nav{
            line-height: 1.4;
            
        }
     }

}
.section4{
    @include container();
    nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
        color: black;
        padding: 20px;
        width: 700px;
        margin: auto;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        img{
            width: 100px;
        }
    }
}
.section5{
      @include container();
      display: flex;
      justify-content: center;
      margin-top:30px;
     
      nav{
        display: flex;
        border: 1px solid white;
        border-radius: 10px;
        width: 240px;
        padding: 20px;
        align-items: center;
        gap: 20px;
        line-height: 1.4;
      }

}
.section6{
    @include container();
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    .g1{
        display: flex;
        width: 540px;
        background-color: white;
        padding: 40px;
        color: black;
        line-height: 1.5    ;
        gap: 30px;
        border-radius: 10px;
        .divfre{
            color: #23A6F0;
            padding: 10px 0px;
        }
        button{
            padding: 15px;
            width: 120px;
            border: none;
            background-color: #23A6F0;
            color: white;
            border-radius: 10px;
            margin-top: 20px;
        }
    }
    .div0{
        display: flex;
        align-items: center;
        width: 120px;
        gap: 5px;
        margin-top: 20px;
        h1{
            font-size: 40px;
            color: #23A6F0;
            gap: 10px;
        }
        p{
          color:   $mycolor;
        }
    }
}
.section7{
    @include container();
    justify-content: space-evenly;
    gap: 240px;
    margin-top: 250px;
    .q1{
        width: 400px;
        line-height: 1.5;
    }

}
.section8{
    @include container();
    display: flex;
    justify-content: center;
    position: relative;
    h1{
        color: rgba(0, 0, 0, 0.734);
        margin-left: 50px;
    }
    label{
        color: #252B42;
    }
    input{
        width: 400px;
        border: 1px solid rgba(128, 128, 128, 0.278);
        padding: 15px;
        border-radius: 5px;
        background-color: #e6e6e66a;
    }
    .c1{
        display: flex;
        background-color: #F9F9F9;
        width: 800px;
        line-height: 2.4;
        position: relative;
        top: 300px;
        
        
    }
    .z1{
        margin-left: 60px;
        margin-top: 50px;
    }
    button{
        border-radius: 5px;
        width: 400px;
        border: none;
        padding: 15px;
        color: white;
        background-color: #23A6F0;
        margin-top: 30px;
    }
}
.section9{
    @include container();
    display: flex;
    justify-content: center;
    position: relative;
    h1{
        color: rgba(0, 0, 0, 0.734);
        margin-left: 50px;
    }
    label{
        color: #252B42;
    }
    input{
        width: 400px;
        border: 1px solid rgba(128, 128, 128, 0.278);
        padding: 15px;
        border-radius: 5px;
        background-color: #e6e6e66a;
    }
    .c1{
        display: flex;
        background-color: #F9F9F9;
        width: 800px;
        line-height: 2.4;
        position: relative;
        top: 300px;
        
        
    }
    .z1{
        margin-left: 60px;
        margin-top: 50px;
    }
    button{
        border-radius: 5px;
        width: 400px;
        border: none;
        padding: 15px;
        color: white;
        background-color: #23A6F0;
        margin-top: 30px;
    }
}
.k1{
    background-color: white;
    height: 400px;
    
  
}
.section9{
    display: none;
}
.header{
    @include container();
    div{
        width: 200px;
        line-height: 1.5;
    }
}
@media (max-width: 510px){
    header{
        nav, div{
            display: none;
        }
    }
    .icons{
        display: flex !important;
    }
    .section1{
        flex-direction: column;
        text-align: center;
        aside:last-child{
            img{
                width: 100%;

                
            }
             img:first-child{
                width: 90%;
              margin-left: 50px;
             }
             img:last-child{
                width: 200%;
                margin: auto;
                margin-left: 485px;
                margin-top: 100px;
               
             }
        }
    }
    .menu_mobile{
        display: block;
        nav{
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            justify-content: center;
            align-items: center;
            
        }
        a{
            color: white;
            font-size: 30px;
            text-decoration: none;
        }        
    }

.section3{
    width: 100%;
    div{
        margin: auto;
    }
}
.section5{
    flex-direction: column;
    div{
        display: flex;
        flex-wrap: wrap;
    }
    nav{
        margin: auto;
        margin-top: 20px;
    }
}
.section6{
    display: flex;
    flex-wrap: wrap;
    

}
.section7{
  .q1{
    width: 90%;
    margin: auto;
  }
    padding: 0;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-left: 0px;
    
    flex-direction: column;
    img{
        width: 70%;
        margin-top: -100px;
        margin: auto;

    }


}
.section8{
    flex-direction: column;
    width: 10%;
    .c1{
        width: 90%;
        background-color: #23A6F0;
        text-align: center;
    }
    img{
        width: 50px;

    }
    .z1{
        display: none;
    }
    
}
.k1{
    display: none;
}
.section9{
    width: 100%;
    margin: 0;
    display: block;
   
    .c1{
        width: 100%;
        margin: 0;
        border-radius: 10px;
        margin-top: -200px;
    }
    .z1{
        width: 9%;
        margin: 0;
        padding: 10px;
        
        input{
            width: 330px;
        }
        button{
            width: 330px;
        }

    }
    img{
        display: none;
    }
}
.header{
    
    margin-top: 300px;
    display: flex;
    flex-wrap: wrap;
    div{
        width: 150px;
    }
}
}